<div class="row">
  <div class="col-md-6">
    <div class="row well well-green mini-profile-widget bootdey.com">
      <div class="col-md-6">
        <div class="image-container">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-responsive" alt="avatar">
        </div>
      </div>
      <div class="col-md-6">
        <div class="details">
          <h4>{{employeeName}} {{employeeLastName}}</h4>
          <hr>
          <div>Works at Bootdey</div>
          <div>{{employeeEmail}}</div>
          <div>{{employeeJobTitle}}</div>
          <div>{{employeeTelephone}}</div>
          <p class="mg-top-20">
            <a href="javascript:void(0);" class="btn btn-blue">
              <i class="fa fa-facebook fa-fw"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-info">
              <i class="fa fa-twitter fa-fw"></i>
            </a>
            <a href="javascript:void(0);" class="btn btn-red">
              <i class="fa fa-google-plus fa-fw"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
