<div class="modal-header text-center">
  <h4 class="modal-title w-100 font-weight-bold">{{content.heading}} Employee</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="onSubmit(employeeForm.value)" #employeeForm="ngForm">
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <label for="employeeId" hidden></label>
      <input id="employeeId" type="text" hidden ngModel="{{content?.employee?.id}}" name="id">
      <input ngModel="{{content?.employee?.name}}" name="name" type="text" id="addEmployee_name" class="form-control" mdbInput>
      <label for="addEmployee_name">Name</label>
      <!--          <mdb-error-->
      <!--            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input invalid-->
      <!--          </mdb-error>-->
      <!--          <mdb-success-->
      <!--            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input valid-->
      <!--          </mdb-success>-->
    </div>

    <div class="md-form mb-5">
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <input ngModel="{{content?.employee?.lastName}}" name="lastName" type="text" id="addEmployee_last_name" class="form-control" mdbInput>
      <label for="addEmployee_last_name">Last Name</label>
      <!--          <mdb-error-->
      <!--            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input invalid-->
      <!--          </mdb-error>-->
      <!--          <mdb-success-->
      <!--            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input valid-->
      <!--          </mdb-success>-->
    </div>

    <div class="md-form mb-5">
      <mdb-icon fas icon="user-md" class="prefix grey-text"></mdb-icon>
      <input ngModel="{{content?.employee?.jobTitle}}" name="jobTitle" type="text" id="addEmployee_job" class="form-control" mdbInput>
      <label for="addEmployee_job">Job Title</label>
      <!--          <mdb-error-->
      <!--            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input invalid-->
      <!--          </mdb-error>-->
      <!--          <mdb-success-->
      <!--            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input valid-->
      <!--          </mdb-success>-->
    </div>

    <div class="md-form mb-5">
      <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
      <input ngModel="{{content?.employee?.email}}" name="email" type="email" id="addEmployee_email" class="form-control" mdbInput>
      <label for="addEmployee_email">Your email</label>
      <!--          <mdb-error-->
      <!--            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">-->
      <!--            Input invalid-->
      <!--          </mdb-error>-->
      <!--          <mdb-success-->
      <!--            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input-->
      <!--            valid-->
      <!--          </mdb-success>-->
    </div>

    <div class="md-form mb-5">
      <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
      <input ngModel="{{content?.employee?.phone}}" name="phone" type="tel" id="addEmployee_phone" class="form-control" mdbInput>
      <label for="addEmployee_phone">Phone Number</label>
      <!--          <mdb-error-->
      <!--            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">-->
      <!--            Input invalid-->
      <!--          </mdb-error>-->
      <!--          <mdb-success-->
      <!--            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input-->
      <!--            valid-->
      <!--          </mdb-success>-->
    </div>

    <div class="md-form mb-5">
      <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
      <input ngModel="{{content?.employee?.password}}" name="password" type="password" id="addEmployee_pass" class="form-control" mdbInput>
      <label for="addEmployee_pass">Your password</label>
      <!--          <mdb-error-->
      <!--            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input invalid-->
      <!--          </mdb-error>-->
      <!--          <mdb-success-->
      <!--            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">-->
      <!--            Input valid-->
      <!--          </mdb-success>-->
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="submit" mdbBtn color="default" class="waves-light" mdbWavesEffect>Add</button>
  </div>
</form>
